services:
  financas_database:
    image: mariadb:11.7
    container_name: financas_database
    restart: always
    environment:
      MARIADB_USER: root
      MARIADB_PASSWORD: root
      MARIADB_ROOT_PASSWORD: root
      MYSQL_DATABASE: financas
    volumes:
      - "./mariadb-data:/var/lib/mysql"
    ports:
      - 3306:3306
    networks: 
      - financas

  financas_backend:
    build: 
      context: ./dockerfiles/app
      dockerfile: Dockerfile
    image: financas_backend:1.0.0
    container_name: financas_backend
    restart: always
    volumes:
      - laravel_app:/var/www/html
    ports: 
      - 9000:9000
    networks: 
      - financas
    depends_on:
      - financas_database

  financas_server:
    build: 
      context: ./dockerfiles/nginx
      dockerfile: Dockerfile
    container_name: financas_server
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - ./nginx/financas.conf:/etc/nginx/conf.d/financas.conf
      - ./nginx/logs:/var/log/nginx
      - laravel_app:/var/www/html
    networks:
      - financas
    depends_on:
      - financas_backend

volumes:
  laravel_app:

networks:
  financas:
    driver: bridge
