services:
  financas_database:
    image: mariadb:11.7
    container_name: financas_database
    restart: always
    environment:
      MARIADB_USER: root
      MARIADB_PASSWORD: root
      MARIADB_ROOT_PASSWORD: root
      MYSQL_DATABASE: financas
    volumes:
      - "./mariadb-data/data:/var/lib/mysql/data/"
      - "./mariadb-data/logs:/var/lib/mysql/logs/"
    ports:
      - 3306:3306
    networks: 
      - financas

  financas_backend:
    build: 
      context: ./dockerfiles/app
      dockerfile: Dockerfile
    image: financas_backend:1.0.0
    container_name: financas_backend
    restart: always
    ports: 
      - 8000:8000
    networks: 
      - financas
    depends_on:
      - financas_database

  financas_server:
    build: 
      context: ./dockerfiles/nginx
      dockerfile: Dockerfile
    container_name: financas_server
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - ./nginx/financas.conf:/etc/nginx/conf.d/financas.conf
      - ./nginx/logs:/var/log/nginx
    networks:
      - financas
    depends_on:
      - financas_backend

networks:
  financas:
    driver: bridge